.about {
  background-color: #86a315;
  color: #fff;
}

#about .icon-box {
  padding: 30px 20px;
  height: 100%;
  text-align: center;
  background-color: #587d18;
  color: #fff;
  z-index: 1;
  position: relative;
}

#about .icon-box i {
  font-size: 32px;
  line-height: 1;
  color: #fff;
}

#about .icon-box h3 {
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 1;
  font-size: 20px;
  line-height: 26px;
}

/* 
* Facebook 
*/
#about .icon-box-fb{
  transition: linear 0.35s;
}

#about .icon-box-fb:hover {
  background-color: rgba(59, 89, 152, 1);
  transition: linear 0.35s;
}

/* 
* Instagram 
*/
/* #about .icon-box-ig:hover {
  background-image: linear-gradient(53deg, rgba(254, 218, 117, 1) 0%, rgba(250, 126, 30, 1) 25%, rgba(214, 41, 118, 1) 50%, rgba(150, 47, 191, 1) 75%, rgba(79, 91, 213, 1) 100%);
} */

#about .icon-box-ig::before {
  background-image: linear-gradient(53deg, rgba(254, 218, 117, 1) 0%, rgba(250, 126, 30, 1) 25%, rgba(214, 41, 118, 1) 50%, rgba(150, 47, 191, 1) 75%, rgba(79, 91, 213, 1) 100%);
  z-index: -1;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: .375rem;
  transition: opacity 0.35s linear;
  opacity: 0;
}

#about .icon-box-ig:hover:before{
  opacity: 1;
}